.todo-list{
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    padding:20px;
    width:100%;
}

.tab-content{
    display: none;
    flex-direction: column;
    gap:10px;
    margin-top:20px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    padding: 12px;
}
.tab-content.active{
    display: flex;
}
.button-con{
    display: flex;
    align-items: center;
    gap:20px;
}
.tab-btn{
   background-color: unset;
   border:none;
   box-shadow: 0 0 2px #80f9ce;
   color: #028658;;
}
.tab-btn.active{
    background-color: #ccffee;
}