.todo-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.todo-item p {
  font-size: 20px;
  text-transform: capitalize;
}

.delete-btn {
  margin-left: auto;
  background-color: rgba(248, 5, 5, 0.7);
  border-color:rgba(248, 5, 5, 0.7);
}
.delete-btn:hover{
  color:rgba(248, 5, 5, 0.7);
}