.todo-item {
  display: grid;
  grid-template-columns:auto 1fr auto auto;
  align-items: center;
  gap: 20px;
}

.todo-item p {
  font-size: 20px;
  text-transform: capitalize;
}
.todo-item p.done{
  text-decoration: line-through;
}
.delete-btn {
  background-color: rgba(248, 5, 5, 0.7);
  border-color:rgba(248, 5, 5, 0.7);
}
.delete-btn:hover{
  color:rgba(248, 5, 5, 0.7);
}