@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --pc: rgb(60, 93, 192);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.mt-auto {
  margin-top: 60px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2.5vw;
}

[class*="btn"] {
  padding: 8px 16px;
  cursor: pointer;
  background-color: var(--pc);
  color: #fff;
  border: 1px solid var(--pc);
  border-radius: 4px;
  text-transform: capitalize;
  white-space: nowrap;
}

[class*="btn"]:hover {
  background-color: #fff;
  color: var(--pc);
}